home/xmonad/xmonad-x86_64-linux
home/xmonad/xmonad.errors
home/xmonad/xmonad.hi
home/xmonad/xmonad.o
/result
**/.direnv/
/switch.sh
/home-manager/modules/services/calendar-sync-secrets.nix
*.pem
.envrc
scripts/dotfiles-script/dist-newstyle/
scripts/dotfiles-script/hls.log
hls.log
