$bg-color: #46224c;
$fg-color: #f7b7f3;
$bright: #c934f3;
$focused: #AE6B33;

$blue: #3fc6de;
$green: #3fdaa4;

.left-spacing {
  margin-left: 0.5em;
}

.statusbar, .events, .cal, .cpu {
    background-color: rgba(#000000, 0.0);

    .statusbar-box {
        padding: 0 0.5em;
    }
}

.light .box, .events-box-light, .cal-box-light, .cpu-box-light {
    background-color: rgba(#ffffff, 0.7);
    border: 1px solid $bright;

  .cal {
    color: $bright;
  }

  .workspace-entry {
    color: $bright;
  }
}

.events-box-dark, cal-box-dark, cpu-box-dark {
    background-color: rgba($bg-color, 0.7);
    border: 1px solid $bright;
}


.box {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    background-color: rgba($bg-color, 0.7);
    border: 1px solid $bright;
    color: $bright;
    padding: 0 1em;
    margin-right: 10px;
}

.workspaces-widget {
    .workspace-entry {
        color: $fg-color;
        border-radius: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .current {
        background-color: $bright;
    }
}


.active-window {
    color: $bright;
}

.widgets-box {
    color: $bright;
}

.monitor {
    margin-right: 0.5em;

    .monitor-image {
        margin-right: 5px;
    }
}


button {
    all: unset;
}

scale slider {
    background-image: linear-gradient($fg-color, $bright);
    background-size: 25px 25px;
    min-width: 25px;
    min-height: 25px;
}

.cal-box {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    color: $bright;
    padding: 0 1em;
    margin-right: 10px;
    padding: 1rem;

    calendar {
	color: $fg-color;
    }

    calendar.button:hover {
	background-color: rgba($bg-color, 0.7);
    }

    calendar:selected {
        color: $bright;
    }

    calendar.header {
        color: $blue;
        font-weight: bold;
    }

    calendar.button {
        color: $blue;
    }

    calendar.highlight {
        color: $green;
        font-weight: bold;
    }

    calendar:indeterminate {
        color: rgb(205, 219, 249);
    }
}

.tz {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    background-color: rgba($bg-color, 0.7);
    border: 1px solid $bright;
    color: $bright;
    padding: 1em;

    .line {
      border-top: 1px dashed $bright;
      border-bottom: 1px dashed $bright;
    }
}

.events-box {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    color: $bright;
    padding: 1em;

    .line {
      border-top: 1px dashed $bright;
      border-bottom: 1px dashed $bright;
    }
}

.cpu-box {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    border: 1px solid $bright;
    color: $bright;
    padding: 1em;

    .cpu-box-i {
	padding: 1em;

        .cpu-line {
          color: $green;
        }
	.header {
          color: $green;
	  border-bottom: 1px dashed $bright;
	}
        .active {
          background-color: rgba($bg-color, 0.8);
          color: $green;
        }

    }

    .cpu-box-label {
	color: $green;
    }
}
