$bg-color: #46224c;
$fg-color: #f7b7f3;
$bright: #c934f3;
$focused: #AE6B33;

$blue: #3fc6de;
$green: #3fdaa4;

// * { all: unset; }

.statusbar {
    background-color: rgba(#000000, 0.0);
}

.box {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
    background-color: rgba($bg-color, 0.7);
    border: 1px solid $bright;
    color: $bright;
    padding: 0 1em;
    margin-right: 10px;
}

.statusbar-box {
    padding: 0 0.5em;
}

.workspace-entry {
    color: $fg-color;
    border-radius: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.current {
    background-color: $bright;
}

.workspace-label {
}


.active-window {
    color: $bright;
}

.widgets-box {
    color: $bright;
}

.monitor {
    margin-right: 0.5em;
}

.monitor-image {
    margin-right: 5px;
}

button {
    all: unset;
}

scale slider {
    background-image: linear-gradient($fg-color, $bright);
    background-size: 25px 25px;
    min-width: 25px;
    min-height: 25px;
}


.system-time {
    // border: 1px solid $bright;
    // padding-right: 1em;
}


.cal {
    border-radius: 15px;
    font-family: Hasklug Nerd Font Mono;
    font-size: 16px;
  background: linear-gradient(rgba(120, 120, 120, 0.3), rgba(120, 120, 120, 0.3)), url("/home/evie/.config/eww/assets/liberation300.jpg");
  opacity: 0.85;
    border: 1px solid $bright;
    color: $bright;
    padding: 0 1em;
    margin-right: 10px;
    padding: 1rem;

    .calendar-box {
	border: none;
	background: transparent;
    }

    calendar {
	color: $fg-color;
    }

    calendar.button:hover {
	background-color: rgba($bg-color, 0.7);
    }

    calendar:selected {
        color: $bright;
    }

    calendar.header {
        color: $blue;
        font-weight: bold;
    }

    calendar.button {
        color: $blue;
    }

    calendar.highlight {
        color: $green;
        font-weight: bold;
    }

    calendar:indeterminate {
        color: rgb(205, 219, 249);
    }
}
